# Editor backup files
*~
*.bak

# Generic tmp files
# Exclude files with '#' in their names anywhere in the repository
**/*#*

### macOS ###
.DS_Store
Icon

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Olint - multi linter
.cache.olint

# Local configs
configs/
