# lists of apts to install
SPD_LST_1="
    bash
    zsh
    vim
"

SPD_LST_2="
bash
zsh
vim
"

SPD_LST_3="
bash
    zsh
    vim
    "


# valid test variables
SPD_SUNE=gurka
SPD_FOO=bar
HEPP=jausa

# syntacticly correct, but should be ignored due to wrong prefix
    # testing indented comment
